<!DOCTYPE html>
<html>
<head>
	<title>Eventbrite</title>
</head>
<body>

	<h1>Voici tous les événements disponibles :</h1>
	<br>
	<div class="card-deck" style="margin-right: 5%; margin-left: 5%;">
		<%i = 0%>
		<%@events.each do |event|%>

	  		<div class="card rounded-0">
	  			<div class="card-header">
	  				<h5 class="card-title"><%=event.title%></h5>
	  			</div>
	    		<div class="card-body">
	      			<p class="card-text">Description : <%=event.desc%></p>
	      			<p class="card-text" style="color:#b2bec3;">in <%=event.location%></p>
	   		 	</div>
	  		</div>
	  		<%i += 1%>

	  		<%if i == 3%>
	  			</div>
	  			<br>
	  			<div class="card-deck" style="margin-right: 5%; margin-left: 5%;">
	  			<%i = 0%>
	  		<%end%>

		<%end%>
	</div>
</body>
</html>