<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=current_user.email%></h1>

	<h1><%=current_user.first_name%> <%=current_user.last_name%></h1>

	<p><%=current_user.description%></p>
</body>
</html>